USE [fantasyfootball]
GO
/****** Object:  Table [dbo].[Game]    Script Date: 03/10/2008 17:00:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Game](
	[gameID] [int] NOT NULL,
	[date] [datetime] NOT NULL,
	[venue] [varchar](50) NOT NULL,
	[homeScore] [int] NOT NULL,
	[awayScore] [int] NOT NULL,
	[homeID] [int] NOT NULL,
	[awayID] [int] NOT NULL,
 CONSTRAINT [PK_Game] PRIMARY KEY CLUSTERED 
(
	[gameID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Team] FOREIGN KEY([awayID])
REFERENCES [dbo].[Team] ([teamID])ON UPDATE CASCADE ON DELETE NO ACTION
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Team]
GO
ALTER TABLE [dbo].[Game]  WITH CHECK ADD  CONSTRAINT [FK_Game_Team1] FOREIGN KEY([homeID])
REFERENCES [dbo].[Team] ([teamID])ON UPDATE CASCADE ON DELETE NO ACTION
GO
ALTER TABLE [dbo].[Game] CHECK CONSTRAINT [FK_Game_Team1]